%div{:id => "#{dom_id pdf}"}
  %p
    %strong Name:
    = pdf.name
  %p
    %strong Owner:
    = pdf.owner_id
  %p
    %strong Version:
    = pdf.version
  %p
    %strong Description:
    = pdf.description
  %p
    %strong Page count:
    = pdf.page_count
  %p
    %strong First page numberuploaded filename:
    = pdf.first_page_numberuploaded_filename
  %p
    %strong Uploaded at:
    = pdf.uploaded_at
  %p
    %strong Uploaded by:
    = pdf.uploaded_by_id
