<div id="<%= dom_id pdf %>">
  <p>
    <strong>Name:</strong>
    <%= pdf.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= pdf.owner_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= pdf.version %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pdf.description %>
  </p>

  <p>
    <strong>Page count:</strong>
    <%= pdf.page_count %>
  </p>

  <p>
    <strong>First page numberuploaded filename:</strong>
    <%= pdf.first_page_numberuploaded_filename %>
  </p>

  <p>
    <strong>Uploaded at:</strong>
    <%= pdf.uploaded_at %>
  </p>

  <p>
    <strong>Uploaded by:</strong>
    <%= pdf.uploaded_by_id %>
  </p>

</div>
